In [21]:
my_list=['meghana',23.99,55,12]

In [22]:
my_list

['meghana', 23.99, 55, 12]

In [23]:
len(my_list)

4

In [24]:
#list indexing
my_list[1]

23.99

In [25]:
# list slicing
my_list[1:]

[23.99, 55, 12]

In [26]:
another_list=[89,90]

In [27]:
# string concatination
new=my_list+another_list

In [28]:
new

['meghana', 23.99, 55, 12, 89, 90]

In [29]:
#changing elements of list
new[0]=13

In [30]:
new

[13, 23.99, 55, 12, 89, 90]

In [31]:
#add a new element
new.append(100)

In [32]:
new

[13, 23.99, 55, 12, 89, 90, 100]

In [33]:
#remove an element
new.pop()

100

In [34]:
new.pop(2)

55

In [35]:
new

[13, 23.99, 12, 89, 90]

In [36]:
#sorting
new.sort()

In [37]:
new

[12, 13, 23.99, 89, 90]

In [38]:
#reversing
new.reverse()

In [39]:
new

[90, 89, 23.99, 13, 12]